---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="¿Necesitás ayuda?"
      description="Escribinos. Estamos para cuidar con respeto, calidez y compromiso, las 24 horas."
    />
    <Form />
  </div>
</Section>
